.Header {
    background: grey;
    width: 100vw;
    height: 75px;
    padding: 0px;
    margin: 0px;
    background: rgba(47, 69, 80, 0.6);
}

.title {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.headButtons {
        height: 20px;

}


